
@{
    ViewBag.Title = "ChiTietMonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12 ChiTietMonAn">
    <p class="TieuDe">Sashimi</p>
    <img src="~/img/ChiTietMon1.png" class="img-responsive Anh" />
    <div class="ChiTiet">
        <p class="TenMon">Sake sashimi</p>
        <p class="Gia">Đơn giá: 80000 đ </p>
        <p class="NoiDung">
            Sake sashimi hường là món đầu tiên trong bữa ăn trang trọng ở Nhật,
            nhưng cũng có thể làm món chính, ăn cùng với cơm và một chén súp Miso riêng.
            Nhiều người Nhật cho rằng sashimi, theo truyền thống được xem là món cá hảo hạng
            của ẩm thực Nhật, phải được ăn trước để tránh các món có mùi nặng làm ảnh hưởng đến khẩu vị...
        </p>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 ThucDon">
    <p class="TieuDe">Một số món ăn khác</p>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (1).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (2).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (3).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (4).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (5).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (6).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (7).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/SanPham (8).png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>
</div>