
@{
    ViewBag.Title = "Nhà hàng Nhật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12 TinTuc">
    <div class="col-md-6 col-sm-6 col-xs-6 TinMoi">
        <img src="~/img/An Sushi.png" class="img-responsive Anh" />
        <a href="@Url.Action("BaiViet","Home")" class="TieuDe">Ăn Sushi theo đúng...</a>
        <p class="NoiDung">
            Khi ăn Sushi, ta nên gắp từ những miếng ở ngoài cùng đĩa thức ăn rồi mới ăn dần đến những món để ở
            giữa. Sushi là một trong những món ăn truyền thống đặc sắc của người...
        </p>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 DanhSach">
        <a href="@Url.Action("BaiViet","Home")" class="NoiDung"><span class="fa fa-bullhorn"></span>Những thỏi sushi đẹp...</a>
        <a href="@Url.Action("BaiViet","Home")" class="NoiDung"><span class="fa fa-bullhorn"></span>Hướng dẫn làm bánh mochi..</a>
        <a href="@Url.Action("BaiViet","Home")" class="NoiDung"><span class="fa fa-bullhorn"></span>Món ăn đặc trưng của người Nhật.</a>
        <a href="@Url.Action("BaiViet","Home")" class="NoiDung"><span class="fa fa-bullhorn"></span>Nước chấm mizin, hương vị...</a>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 ThucDon" style="border-bottom:solid 1px #ff0000">
    <p class="TieuDe">Nhà hàng Nhật Bản Sushi Kazoku</p>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenMon">Trứng cuộn cơm chiên</p>
        <p class="Gia">Đơn giá: 120.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenMon">Set Sushi đặc biệt</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenMon">Sashimi sò đỏ</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenMon">Trứng cuộn cơm chiên</p>
        <p class="Gia">Đơn giá: 120.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenMon">Set Sushi đặc biệt</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenMon">Sashimi sò đỏ</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon1.png" class="img-responsive" />
        <p class="TenMon">Trứng cuộn cơm chiên</p>
        <p class="Gia">Đơn giá: 120.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon2.png" class="img-responsive" />
        <p class="TenMon">Set Sashimi cá Hồi</p>
        <p class="Gia">Đơn giá: 128.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon3.png" class="img-responsive" />
        <p class="TenMon">Set Sushi đặc biệt</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>

    <a href="@Url.Action("ChiTietMonAn","Home")" class="col-md-3 col-sm-3 col-xs-3 MonAn">
        <img src="~/img/Mon4.png" class="img-responsive" />
        <p class="TenMon">Sashimi sò đỏ</p>
        <p class="Gia">Đơn giá: 228.000 đ</p>
    </a>
</div>