@*@model CMS.Models.MailModel*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--SEO-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="@((ViewBag.Description!=null)?ViewBag.Description:"")" />
    <meta name="keywords" content='@((ViewBag.Keywords!=null)?ViewBag.Keywords:"")' />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content='@((ViewBag.Robots!=null)?ViewBag.Robots:"index, noop, follow")' />
    <meta http-equiv="content-language" content="vi" />
    <link href="~/Content/Images/images/CTA-KhongXoa/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" href="" hreflang="vi" />

    <meta itemprop="name" content='@((ViewBag.Title!=null)?ViewBag.Title : "")'>
    <meta itemprop="description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")'>
    <meta itemprop="image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")'>

    <meta property="og:title" content='@((ViewBag.Title!=null)?ViewBag.Title : "")' />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")' />
    <meta property="og:description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")' />
    <meta property="og:site_name" content="" />

    <meta name="geo.placename" content="" />
    <meta name="geo.region" content="VN-HP" />
    <meta name="geo.position" content="" />
    <meta name="ICBM" content="" />

    <link rel="image_src" href='@((ViewBag.Image!=null)?ViewBag.Image:"")' />

    <!--Site-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Content/front/css/Site.css" rel="stylesheet" />
    <link href="~/Content/front/css/SanPham.css" rel="stylesheet" />
    <link href="~/Content/front/css/BaiViet.css" rel="stylesheet" />*@
    <link href="~/Content/front/css/BaiViet.min.css" rel="stylesheet" />
    <link href="~/Content/front/css/SanPham.css" rel="stylesheet" />
    <link href="~/Content/front/css/site.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Tuyết rơi-->
    <script type='text/javascript'>

        //<![CDATA[

        document.write('<style type="text/css">body{padding-bottom:150px}</style><img style="position:fixed;z-index:9999;top:0;left:0" src="https://lh6.googleusercontent.com/-c8CoUvCourw/UMcWWTeBE-I/AAAAAAAABcU/q-j9X7733zw/s150/top-left.png"/><img style="position:fixed;z-index:9999;top:0;right:0" src="https://lh5.googleusercontent.com/-JABklf9ModU/UMcWWzSSJ4I/AAAAAAAABcY/g4sZMhrgjXU/s150/top-right.png"/><div style="position:fixed;z-index:9999;bottom:0;left:0;width:100%;height:104px;background:url(https://lh6.googleusercontent.com/-kph53UsoxM4/UMczVhTsCVI/AAAAAAAABcs/DVTyvtz7blc/s1600/footer.png) repeat-x bottom left;"></div><img style="position:fixed;z-index:9999;bottom:30px;left:30px" src="https://lh4.googleusercontent.com/-mEgGUg-ou4k/UMcz0qy2NhI/AAAAAAAABc0/gF1uW4iE6y0/s180/bottom-left.png"/>'); var no = 100; var hidesnowtime = 0; var snowdistance = 'pageheight'; var ie4up = (document.all) ? 1 : 0; var ns6up = (document.getElementById && !document.all) ? 1 : 0; function iecompattest() { return (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body } var dx, xp, yp; var am, stx, sty; var i, doc_width = 800, doc_height = 600; if (ns6up) { doc_width = self.innerWidth; doc_height = self.innerHeight } else if (ie4up) { doc_width = iecompattest().clientWidth; doc_height = iecompattest().clientHeight } dx = new Array(); xp = new Array(); yp = new Array(); am = new Array(); stx = new Array(); sty = new Array(); for (i = 0; i < no; ++i) { dx[i] = 0; xp[i] = Math.random() * (doc_width - 50); yp[i] = Math.random() * doc_height; am[i] = Math.random() * 20; stx[i] = 0.02 + Math.random() / 10; sty[i] = 0.7 + Math.random(); if (ie4up || ns6up) { document.write('<div id="dot' + i + '" style="POSITION:absolute;Z-INDEX:' + i + ';VISIBILITY:visible;TOP:15px;LEFT:15px;"><span style="font-size:18px;color:#fff">*</span><\/div>') } } function snowIE_NS6() { doc_width = ns6up ? window.innerWidth - 10 : iecompattest().clientWidth - 10; doc_height = (window.innerHeight && snowdistance == 'windowheight') ? window.innerHeight : (ie4up && snowdistance == 'windowheight') ? iecompattest().clientHeight : (ie4up && !window.opera && snowdistance == 'pageheight') ? iecompattest().scrollHeight : iecompattest().offsetHeight; for (i = 0; i < no; ++i) { yp[i] += sty[i]; if (yp[i] > doc_height - 50) { xp[i] = Math.random() * (doc_width - am[i] - 30); yp[i] = 0; stx[i] = 0.02 + Math.random() / 10; sty[i] = 0.7 + Math.random() } dx[i] += stx[i]; document.getElementById('dot' + i).style.top = yp[i] + 'px'; document.getElementById('dot' + i).style.left = xp[i] + am[i] * Math.sin(dx[i]) + 'px' } snowtimer = setTimeout('snowIE_NS6()', 10) } function hidesnow() { if (window.snowtimer) { clearTimeout(snowtimer) } for (i = 0; i < no; i++) document.getElementById('dot' + i).style.visibility = 'hidden' } if (ie4up || ns6up) { snowIE_NS6(); if (hidesnowtime > 0) setTimeout('hidesnow()', hidesnowtime * 1000) }

        //]]>

    </script>
</head>
<body ng-app="frontApp">
    <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 TopHeader">
            <p class="Text">Hệ thống nhà hàng Nhật bản Sushi Kazoku -109 Đinh Tiên Hoàng, Phường Đa Kao, quận 1, thành phố Hồ Chí Minh. - ĐT: 08 3820 9420 - 0903 967 388</p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 MidHeader">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Logo">
                <img src="~/Content/Images/images/CTA-KhongXoa/Logo.png" class="img-responsive" />
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 MenuBar">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index","Home")" class="col-md-12 col-sm-12 col-xs-3">Trang chủ</a></li>
                            <li><a href="#" class="col-md-12 col-sm-12 col-xs-3">Giới thiệu</a></li>
                            <li><a href="~/bai-viet" class="col-md-12 col-sm-12 col-xs-3">Tin tức</a></li>
                            <li><a href="~/lien-he" class="col-md-12 col-sm-12 col-xs-3">Liên hệ</a></li>
                            <li ng-controller="searchController">
                                <input type="text" class="search-query form-control" placeholder="Tìm kiếm" ng-keypress="($event.which === 13)?search():0" ng-model="searchText">
                                <button type="submit" class="btn btn-default fa fa-search" ng-click="search()"></button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Body">
        @Html.Partial("_Banner")

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 MenuTrai">
            @Html.Partial("_MenuCategoryProduct")
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 NoiDungChinh">
            @RenderBody()
        </div>


    </div>

    <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Footer">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ThongTin">
            <p class="TenNhaHang">Hệ thống nhà hàng Nhật bản Sushi Kazoku</p>
            <p class="DiaChi">Địa chỉ 1: 109 Đinh Tiên Hoàng, Phường Đa Kao, quận 1, thành phố Hồ Chí Minh.</p>
            <p class="DiaChi">Địa chỉ 2: P105- A14 Nghĩa Tân , Cầu Giấy, Hà Nội.</p>
            <p class="DiaChi">SĐT: 0985 438 068</p>
            <p class="DiaChi">Địa chỉ 3: 38 Văn Cao, Ngô Quyền, Hải Phòng.</p>
            <p class="DiaChi">SĐT: 0903 967 388 - 096 918 31 26</p>
            <p class="DiaChi">Email: sushi.kazoku2699@gmail.com</p>
            <p class="DiaChi">Website: sushikazoku.net</p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 MenuDuoi">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.27197883167!2d106.69503031427938!3d10.790468992312054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cade8dae0d%3A0xd08a3174f2afcf6c!2zMTA5IMSQaW5oIFRpw6puIEhvw6BuZywgxJBhIEthbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1481623497750" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 NhungFB">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNhahangNhatSushikazokuQ1.tpHCM%2F%3Fref%3Dts%26fref%3Dts%26__mref%3Dmessage_bubble&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            
        </div>


    </footer>

    @*<script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@



    <!--Share Facebook-->
    @*<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>*@

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>

    <!--MY-->
    <script src="~/Scripts/front/frontApp.min.js"></script>
    <script src="~/Scripts/front/categoryProductFactory.min.js"></script>
    <script src="~/Scripts/front/categoryPostFactory.min.js"></script>

    <!--Banner-->
    @*<script src="~/Scripts/front/bannerController.js"></script>*@
    <script src="~/Scripts/front/bannerController.min.js"></script>

    <!--Tabs-->
    @*<script src="~/Scripts/front/tabController.js"></script>*@

    <!--Video-->
    @*<script src="~/Scripts/front/videoController.js"></script>*@
    <script src="~/Scripts/front/videoController.min.js"></script>

    <!--Category-->
    @*<script src="~/Scripts/front/menuCategoryProductController.js"></script>*@
    <script src="~/Scripts/front/menuCategoryProductController.min.js"></script>
    @*<script src="~/Scripts/front/allCategoryProductController.js"></script>*@
    <script src="~/Scripts/front/allCategoryProductController.min.js"></script>
    @*<script src="~/Scripts/front/childCategoryProductController.js"></script>*@
    <script src="~/Scripts/front/childCategoryProductController.min.js"></script>
    @*<script src="~/Scripts/front/menuCategoryPostController.js"></script>*@
    <script src="~/Scripts/front/menuCategoryPostController.min.js"></script>
    @*<script src="~/Scripts/front/allCategoryPostController.js"></script>*@
    <script src="~/Scripts/front/allCategoryPostController.min.js"></script>
    @*<script src="~/Scripts/front/childCategoryPostController.js"></script>*@
    <script src="~/Scripts/front/childCategoryPostController.min.js"></script>

    <!--Product-->
    @*<script src="~/Scripts/front/showProductController.js"></script>*@
    <script src="~/Scripts/front/showProductController.min.js"></script>

    <!--Post-->
    @*<script src="~/Scripts/front/showPostController.js"></script>*@
    <script src="~/Scripts/front/showPostController.min.js"></script>

    <!--Menu-->
    @*<script src="~/Scripts/front/menuMainController.js"></script>*@
    <script src="~/Scripts/front/menuMainController.min.js"></script>

    <!--Seach-->
    @*<script src="~/Scripts/front/searchController.js"></script>*@
    <script src="~/Scripts/front/searchController.min.js"></script>
    @*<script src="~/Scripts/front/showSearchController.js"></script>*@
    <script src="~/Scripts/front/showSearchController.min.js"></script>

    @*Home*@
    @*<script src="~/Scripts/front/homeController.js"></script>*@
    <script src="~/Scripts/front/homeController.min.js"></script>

    <!--Chat-->
    <!--Register-->
    @*<script src="~/Scripts/front/cusRegisterController.js"></script>*@
    <script src="~/Scripts/front/cusRegisterController.min.js"></script>

    <!--Pagination-->
    <script src="~/Scripts/front/pagination/dirPagination.min.js"></script>

    <!--Google Analytic-->


</body>
</html>